body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 40px auto; /* Aumentamos o espaçamento para o botão não ficar colado no topo */
    padding: 40px;
    position: relative; /* Adicionamos uma posição relativa para o botão ficar no canto superior direito */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-buttons {
    display: flex;
    flex-direction: column; /* Alterado para exibir os botões um abaixo do outro */
    align-items: center; /* Centraliza os botões horizontalmente */
    gap: 10px; /* Espaçamento entre os botões */
}

/* Estilo comum para todos os botões */
.button {
    display: inline-block;
    padding: 12px 24px;
    width: 100%; /* Definir o mesmo tamanho para todos os botões */
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

/* Botão azul para o "Formulário de Gastos Por Atendimento" */
.button-blue {
    background-color: #007BFF;
}

/* Botão laranja para o "Check list GAMA" */
.button-orange {
    background-color: #FFA500;
}

/* Botão verde para o "Check list BETA" */
.button-green {
    background-color: #008000;
}

/* Estilos de hover para todos os botões */
.button:hover {
    background-color: #0056b3;
}

/* Estilos de hover específicos para cada botão */
.button-orange:hover {
    background-color: #FF8C00;
}

.button-green:hover {
    background-color: #006400;
}

/* Estilos para o campo de dúvidas */
.questions {
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.questions h2 {
    color: #333;
    margin-bottom: 10px;
}

.questions p {
    color: #555;
    margin-bottom: 20px;
}

.questions ul {
    list-style: none;
    padding: 0;
}

.questions li {
    margin-bottom: 5px;
}
